<header>
    <nav class="navbar">
        <div class="logo">
            <h1>Paperless</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/home">Genres</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>
</header>